### Research Questions
<p><b>What is the exact demegraphic most at risk for covid19 in Toronto?</b></p> 
To find this we'll need to produce graphs of Age, Gender, and if they were hospitalized.

In [1]:
import pandas as pd
import numpy as np
import pandas_profiling
import sys, os
sys.path.insert(0, os.path.abspath('..'))
from scripts import project_functions as sc
path = "C:\\Users\\matta\\Documents\\UBCO 20-21\\Data 301\\course-project-group_6022\\data\\raw\\COVID19 cases Toronto.csv" 
df = sc.ez_format(path)
df

,Age_Group,Source_of_Infection,Episode_Date,Reported_Date,Gender,Outcome,Ever_Hospitalized,Ever_in_ICU,Days_Since
0,50-59,Travel,2020-01-21,2020-01-23,MALE,Yes,No,No,0
1,50-59,Travel,2020-01-22,2020-01-23,FEMALE,No,No,No,0
2,20-29,Travel,2020-02-05,2020-02-21,FEMALE,No,No,No,29
3,50-59,N/A - Outbreak associated,2020-02-07,2020-04-13,MALE,No,No,No,81
4,70-79,Travel,2020-02-14,2020-03-01,FEMALE,No,No,No,38
...,...,...,...,...,...,...,...,...,...
13212,60-69,Close contact,2020-07-12,2020-06-28,FEMALE,No,No,No,157
13213,19 and younger,Close contact,2020-07-12,2020-07-12,FEMALE,No,No,No,171
13214,30-39,Close contact,2020-07-12,2020-07-12,MALE,No,No,No,171
13215,30-39,Travel,2020-07-12,2020-07-12,MALE,No,No,No,171
13216,50-59,Unknown/Missing,2020-07-13,2020-07-13,FEMALE,No,No,No,172

In [14]:
ndf = df.groupby(["Gender", "Age_Group", "Ever_Hospitalized"]).size().reset_index()
ndf.rename(columns  = {0:'Count'})

         Gender       Age_Group Ever_Hospitalized  Count
0        FEMALE  19 and younger                No    279
1        FEMALE           20-29                No    826
2        FEMALE           20-29               Yes      5
3        FEMALE           30-39                No    885
4        FEMALE           30-39               Yes      6
5        FEMALE           40-49                No   1003
6        FEMALE           40-49               Yes     10
7        FEMALE           50-59                No   1155
8        FEMALE           50-59               Yes     31
9        FEMALE           60-69                No    670
10       FEMALE           60-69               Yes     34
11       FEMALE           70-79                No    463
12       FEMALE           70-79               Yes     26
13       FEMALE           80-89                No    879
14       FEMALE           80-89               Yes     24
15       FEMALE             90+                No    773
16       FEMALE             90+               Yes      2
17         MALE  19 and younger                No    297
18         MALE  19 and younger               Yes      2
19         MALE           20-29                No    961
20         MALE           20-29               Yes      5
21         MALE           30-39                No    901
22         MALE           30-39               Yes      3
23         MALE           40-49                No    824
24         MALE           40-49               Yes     25
25         MALE           50-59                No    886
26         MALE           50-59               Yes     53
27         MALE           60-69                No    676
28         MALE           60-69               Yes     67
29         MALE           70-79                No    432
30         MALE           70-79               Yes     57
31         MALE           80-89                No    479
32         MALE           80-89               Yes     14
33         MALE             90+                No    249
34         MALE             90+               Yes      2
35        OTHER           30-39                No      1
36        OTHER           40-49                No      2
37        OTHER           50-59                No      1
38        OTHER           70-79                No      1
39  TRANSGENDER           30-39                No      3
40  TRANSGENDER           40-49                No      1
41  TRANSGENDER           60-69               Yes      1
42  TRANSGENDER           80-89                No      1
43      UNKNOWN  19 and younger                No     19
44      UNKNOWN           20-29                No     10
45      UNKNOWN           30-39                No     15
46      UNKNOWN           40-49                No     22
47      UNKNOWN           40-49               Yes      1
48      UNKNOWN           50-59                No     12
49      UNKNOWN           60-69                No     14
50      UNKNOWN           70-79                No     16
51      UNKNOWN           80-89                No     51
52      UNKNOWN             90+                No     42